aside {
  grid-area: aside;
  background-color: #eeeeee;
  padding-right: 1px solid #ddd;
}

aside > * {
  padding-left: 1rem;
  position: static;
}

.hide-menu {
  position: fixed;
  bottom: 0;
  width: 24%;
}
.hide-menu:hover {
  cursor: pointer;
  color: blue;
}

.hide-menu > * {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
}
